.game {
  position: relative;
}

.main-text-area {
  background-color: rgba(237, 121, 39, 0.87);
  border: 1.5px dashed $blackItem;
  border-radius: 5px;
  display: block;
  margin-bottom: 20%;
  padding: 10px;
}

.main-text-area-content {
  margin: 0;
  font-size: 20px;
}

.game .all-content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  //border: 1px solid black;
  margin: 10% auto auto;
  align-items: center;
  padding: 0 3%;
}

.answer-container {
  width: 100%;
  margin-bottom: 20px;
}

.answer-list {
  @include listBase();
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 5%;
}

.answer-tem {
  background-color: rgb(237, 74, 47);
  min-height: 50px;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

.home-link,
.settings {
  position: absolute;
}

.home-link img{
  width: 30px;
}

.settings {
  right: 0;
}

.settings img{
  width: 35px
}
