$desktopWidth: 1024px;
$tabletWidthCatalog: 767px;
$mobileWidth: $tabletWidthCatalog - 1px;
$retina: 144dpi;
$mainColorBg: #ffa500;
$mainColorTxt: #000000;
$blackItem: #000000;
$whiteItem: rgb(255, 255, 255);
