@font-face {
  font-family: "AmaticNormal";
  src: url("../fonts/textContentFonts/AmaticSC-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "AmaticBold";
  src: url("../fonts/textContentFonts/AmaticSC-bold.ttf");
  font-weight: bold;
}
